@model PG_Management_MongoDB.Models.Tenant

@{
    ViewBag.Title = "Add New Tenant";
    Layout = "_Layout";
}
<h2>Add New Tenant</h2>


@using (Html.BeginForm("Create", "Tenants",FormMethod.Post))
{   
    <div style="text-align: center;">
        <div>
            @Html.LabelFor(tenant => tenant.Name)
        </div>
        <div>
            @Html.TextBoxFor(tenant => tenant.Name)
        </div>
        <div>
            @Html.LabelFor(tenant => tenant.Phone)
        </div>
        <div>
            @Html.TextBoxFor(tenant => tenant.Phone)
        </div>
        <div>
            @Html.LabelFor(tenant => tenant.Address)
        </div>
        <div>
            @Html.TextAreaFor(tenant => tenant.Address)
        </div>
        <div>
            @Html.LabelFor(tenant => tenant.PaidStatus)
        </div>
        <div>
            @foreach (var value in Tenant.PaidStatusValues)
            {
                @Html.RadioButtonFor(tenant => tenant.PaidStatusValue,value) @value <br/>
            }
        </div>
        <input type="submit" value="Add Tenant" id="btnSubmit" />
    </div>
}
