@model PG_Management_MongoDB.Models.Tenant

@{
    ViewBag.Title = "Delete Tenant";
    Layout = "_Layout";
}
<h2>Delete Existing Tenant</h2>
<p><h3>Are you sure you want to delete this tenant?</h3></p>

@using (Html.BeginForm("Delete", "Tenants",FormMethod.Post))
{   
    <div style="text-align: center;">
        <div>
            @Html.LabelFor(tenant => tenant.Name)
        </div>
        <div>
            @Html.TextBoxFor(tenant => tenant.Name, new {@readonly = "reeadonly"})
        </div>
        <div>
            @Html.LabelFor(tenant => tenant.Phone)
        </div>
        <div>
            @Html.TextBoxFor(tenant => tenant.Phone,new {@readonly = "reeadonly"})
        </div>
        <div>
            @Html.LabelFor(tenant => tenant.Address)
        </div>
        <div>
            @Html.TextBoxFor(tenant => tenant.Address,new {@readonly = "reeadonly"})
        </div>
        <div>
            @Html.LabelFor(tenant => tenant.Rent)
        </div>
        <div>
            @Html.TextAreaFor(tenant => tenant.Rent, new {@readonly = "reeadonly"})
        </div>
        <div>
            @Html.LabelFor(tenant => tenant.PaidStatus)
        </div>
        <div>
            @Html.DisplayFor(tenant => tenant.PaidStatus.AsBoolean)
        </div>
        <input type="submit" value="Delete Tenant" id="btnSubmit" />
        <input type="submit" name="Cancel" value="Cancel" formaction=@Url.Action("Cancel") formmethod="post" />
    </div>
}
