@model PG_Management_MongoDB.Models.Tenant

@{
    ViewBag.Title = "Modify Existing Tenant";
    Layout = "_Layout";
}
<h2>Modify Existing Tenant</h2>


@using (Html.BeginForm("Edit", "Tenants",FormMethod.Post))
{   
    <div class="row">
        <div class="col-6" style="text-align:center;">
            <div>
                @Html.LabelFor(tenant => tenant.Name)
            </div>
            <div>
                @Html.TextBoxFor(tenant => tenant.Name, new{@readonly = "readonly"})
            </div>
            <div>
                @Html.LabelFor(tenant => tenant.Phone)
            </div>
            <div>
                @Html.TextBoxFor(tenant => tenant.Phone, new{@readonly = "readonly"})
            </div>
            <div>
                @Html.LabelFor(tenant => tenant.Address)
            </div>
            <div>
                @Html.TextBoxFor(tenant => tenant.Address, new{@readonly = "readonly"})
            </div>
            <div>
                @Html.LabelFor(tenant => tenant.Rent)
            </div>
            <div>
                @Html.TextBoxFor(tenant => tenant.Rent, new{@readonly = "readonly"})
            </div>
            
        </div>
        <div class="col-6" style="text-align: center;">
            <div>
                @Html.LabelFor(tenant => tenant.ParentName)
            </div>
            <div>
                @Html.DisplayFor(tenant => tenant.ParentName)
            </div>
            <div>
                @Html.LabelFor(tenant => tenant.ParentAddress)
            </div>
            <div>
                @Html.DisplayFor(tenant => tenant.ParentAddress)
            </div>
            <div>
                @Html.LabelFor(tenant => tenant.ParentPhone)
            </div>
            <div>
                @Html.DisplayFor(tenant => tenant.ParentPhone)
            </div>
        </div>
        <div class="col-12" style="text-align: center;">
            @Html.LabelFor(tenant => tenant.PaidStatus)
        </div>
        <div class="col-12" style="text-align: center;">
            @Html.DisplayFor(tenant => tenant.PaidStatus.AsBoolean)
            <input type="submit" name="Cancel" value="Back To All Tenants" formaction=@Url.Action("Cancel") formmethod="post" />
        </div>
    </div>
}
